#!/bin/bash
#SBATCH --job-name={{ job_name }}_{{ job_id }}
#SBATCH --partition={{ partition }}
#SBATCH --nodes=1
#SBATCH -w {{ node }}
#SBATCH --cpus-per-task={{ cpus_per_task }}
#SBATCH --error=./script/log/%j.err.log
#SBATCH --output=./script/log/%j.out.log

echo "Process will start at : "
date
echo "----------------------------------------"

##############################
{{ cmds }}
wait
##############################

echo "========================================"
echo "Process end at : "
date